{% load i18n %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body style="background-color: #fff; margin: 0; padding: 0;">
    <div style="background-color: #748AFF; color: #fff; padding: 20px;">
      <h1 style="margin-top: 0;">OSOD 비밀번호 초기화 메일입니다.</h1>
    </div>

    <div style="padding: 20px;">
      <p>{% blocktrans %}
        회원님의 계정에서 비밀번호 재설정 있었어요. 아래 버튼을 클릭하면 비밀번호 재설정 페이지로 연결됩니다!
        {% endblocktrans %}
      </p><br>

      <p><a href="http://localhost:3000/password/reset/uid={{ uid }}&token={{ token }}" style="background-color: #748AFF; color: #fff; padding: 10px 20px; text-decoration: none;">비밀번호 재설정</a></p>

      <br><p>{% blocktrans %}
        비밀번호를 변경하고 싶지 않거나, 본인이 요청한 것이 아니라면 메일을 무시해주십시오.<br>
        Copyright osod All Rights Reserved. Prod By. SWYG
        {% endblocktrans %}
      </p>

    </div>

  </body>
</html>

