<div style="background-color: #f8f8f8;padding: 60px 0;"> 

 <table style="width: 640px; margin: 0 auto; background-color: #fff; padding-top: 50px;text-align: center;">
    
    <tr>
      <td class="last_td" style="padding-bottom: 10px;">
        <p style="color:#748AFF; margin:0; font-size: 56px; font-family: futura; font-weight: bold; letter-spacing:-6px">osod</p>
        <p style="color: #748AFF; font-size: 13px; border-bottom: solid 1px; width:124px; margin:20px auto;">{{ created_at|date:'Y년 F j일' }} {{ day_of_the_week }}</p>
        <p style="width: 540px; margin: 0 auto; font-size: 18px; color:#3e3e3e; line-height: 1.69; letter-spacing: normal;padding-bottom:20px;">
            오늘의 구문을 사용하여 영어 글쓰기를 연습해 보세요.
        </p>
        <p style="width: 540px; margin: 0 auto; font-size: 36px; color:#3e3e3e; font-weight:900;font-family: futura; letter-spacing: normal;padding-bottom:20px;">    
            {{ sentence }}
        </p>
        <p style="width: 540px; margin: 0 auto; font-size: 16.8px; color:#3e3e3e; line-height: 1.69; font-family: times new Roman; font-style: italic; letter-spacing: normal;">
            {{ discription }}
        </p>
        <p style="font-size: 14px; color:#909090; margin:4px;" >{{ translate }}</p>
      </td>
    </tr>

    <tr style="text-align: center;">
        <td style="padding-top: 45px; padding-bottom: 70px;">
            <a href="http://127.0.0.1:8000" target="_blank" 
            style="cursor: pointer; width:410px; height:56px; color:#fff;text-decoration: none;font-weight: bold; border-radius:10px; font-size: 18px; padding: 17.5px 126px;background-color: #748AFF; margin:0 auto; ">
            영작 하러 가기
        </td>
    </tr> 
 </table>

 <table style="width: 640px; margin: 0 auto;background-color: #fff; padding-top:20px;">
     <tr>
        <td style="text-align: center;">
            <p style="font-size: 12px; color:#909090;">본 메일은 회원님이 osod 구독 신청에 동의하였기에 발송된 메일입니다.</p>
            <a href="http://127.0.0.1:8000" style="font-size: 12px; color:#909090;">구독 취소</a>
            <p style="color:8b8b8b; line-height: 1.8; letter-spacing: -0.32; font-size: 12px; font-weight: normal;">copyright © osod All Rights Reserved. Prod By. SWYG</p>
        </td>
    </tr>
 </table>

</div>
