Khtml>
<head> <meta name="viewport" content="width=device-width" /> <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Confirm reset password email</title>
</head>
<body style="text-align: center;"> <h2>Hello!</h2>
<br> <p><b>You're receiving this email because you requested a password reset for your
user account at {{ site name }].</b></p>
<br> <p> Please go to the following page and choose a new password: </p>
<p> {% url 'password_reset_confirm' uid=user.id token=token %}</p> <p> Your username, in case you've forgotten: </p>
<br>
<p><i> Thanks for using our site! The {{ site name ]] team.</i></p>
    
</body>
</html>